---
layout: layout.liquid
title: Planetary Playing Cards
---

<div class="Cards">
    <div class="Sun">
        <div class="sunCircle">
            <p class="sunText">Sun <br> Type G2V</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Mercury <br> 0.4 AU</p>
    </div>
        </div>
    
    <div class="Planets">
        <div class="smallCircle">
            <p>Venus <br> 0.72 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Earth <br> 1 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Mars <br> 1.52 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Jupiter <br> 5.2 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Saturn <br> 9.5 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="smallCircle">
            <p>Uranus <br> 19.8 AU</p>
    </div>
        </div>
    
    <div class="Planets">
        <div class="smallCircle">
            <p>Neptune <br> 30 AU</p>
    </div>
        </div>
</div>