---
layout: layout.liquid
title: Planetary Playing Cards Template
---
<div class="Cards">
    <div class="Sun">
        <div class="sunCircle">
            <p class="sunText">Sun <br> Type G2V</p>
    </div>
        </div>

    <div class="Planets">
        <div class="mercuryCircle">
            <p>Mercury <br> 0.4 AU</p>
    </div>
        </div>
    
    <div class="Planets">
        <div class="venusCircle">
            <p>Venus <br> 0.72 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="earthCircle">
            <p>Earth <br> 1 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="marsCircle">
            <p>Mars <br> 1.52 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="jupiterCircle">
            <p>Jupiter <br> 5.2 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="saturnCircle">
            <p>Saturn <br> 9.5 AU</p>
    </div>
        </div>

    <div class="Planets">
        <div class="uranusCircle">
            <p>Uranus <br> 19.8 AU</p>
    </div>
        </div>
    
    <div class="Planets">
        <div class="neptuneCircle">
            <p>Neptune <br> 30 AU</p>
    </div>
        </div>
    </div>