---
title: Header and Footer Layout
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <h1> Planetary Playing Cards </h1>
  {{ content }}
  <h3> Project By Ethan Oles </h3>
</html>